What to do about userinfo in URLs?

RFC 7230 section 2.7.1 http uri scheme states:

> Before making use of an "http" URI reference received from an untrusted source, a recipient SHOULD parse for userinfo and treat its presence as an error; it is likely being used to obscure the authority for the sake of phishing attacks.

Now, granted, it's only a SHOULD, but I wonder if we need to heed this in Servlet?

**Closing this as this issue is migrated to** https://github.com/eclipse-ee4j/servlet-api/issues/101