Update Cookie class and other specifications for RFC 6265

Currently the Cookie class defaults to supporting RFC 2019 cookies.
RFC2019 was obsoleted by RFC2965 in 2000, which in turn was obsoleted by RFC6265 in 2011

The latest RFC appears to be well supported by browsers (eg Google cookies often contain commas which are not allowed by 2019, but are by 6265).

**Closing this as this issue is migrated to** https://github.com/eclipse-ee4j/servlet-api/issues/37